body{
  background: linear-gradient(to right, #667db6 , #0082c8, #0082c8, #667db6);
}
body>h1{
  /* background-color:orange; */
  text-align: center;
}
.mycl{
  display: flex;
  /* padding-top: ; */
  justify-content: center;
  /* border: 10px ; */
  flex-direction: row;
  pointer-events: none;

}
.sq{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  justify-content: center;
  /* justify-items: center; */
  text-align: center;
  font-size: 70px;
  pointer-events: all;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}
button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 300px;
  color: white;
  background-color: rgb(196, 17, 17);
  border-radius: 5px;
  font-size: 30px;
  
}

button:hover{
  opacity: 0.8;
}


